@import '../styles/variables.scss';

@keyframes scaleUp {
    from {
        transform: translateY(0) scale(1);
    }

    to {
        transform: translateY(-8px) scale(1.1);
    }
}

footer {
    background-color: $terciary;
    margin-bottom: 2dvh;
    padding-bottom: 2dvh;

    .footer-container {
        color: $white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1240px;
        margin: auto;
        border-top: 0.4px solid $white;
    }

    .footer-title {
        margin-top: 5vh;
    }

    p {
        font-size: 2rem;
    }

    p.active {
        border-bottom: 3px solid $green;
    }

    .footer-icons {
        display: flex;
        gap: 2dvh;

        i {
            color: $secondary;
            margin-top: 5vh;
            font-size: 1.5rem;
            transition: color .9s;
        }
    
        i:hover {
            color: $green;
            animation: scaleUp 0.8s ease-in infinite;
        }

    }
}
